.body {
    background-color:#990909;
}
.header {
    color: white;
    text-align: center;
    font-size: 18px;
}
#navigation {
    text-align: center;
    background-color: black;
    
}
.img {
    margin-right: 15;
    padding-top: 20px;
    border: 10px solid
    
}

#content {
    text-align: center;
    
}

.footer {
    text-align: center;
    margin-top: 200px;
    background-color: rgb(255, 136, 0)
}
#sidebar {
    color: #E25B11;
    
    flex-direction: column;
}



